<h1>Resume</h1>

<h2>Experience</h2>

<h3><a href="http://mednetstudy.com">MedNet Solutions</a></h3>

<p><strong>Web Software Engineer</strong> <br />
<em>Jul 2015 - Present</em> <br />
<em>Minnetonka, Minnesota</em></p>

<ul>
<li>Perform development on a SaaS PHP eClinical product subject to strict regulatory controls</li>
<li>Implement new features and functionality on a custom-developed, in-house MVC library</li>
</ul>

<h3><a href="http://integer.com">The Integer Group</a></h3>

<p><strong>Senior Web Developer</strong> <br />
<em>Jan 2014 - Jun 2015</em> <br />
<em>Des Moines, Iowa</em></p>

<ul>
<li>Participate in improving code review processes</li>
<li>Continue to document and refactor both legacy and new projects</li>
<li>Mentor more-junior developers in improving their skills</li>
<li>Collaborate with account service and art directors during the early phases of projects</li>
<li>Optimize databases and legacy database code to meet changing scalability requirements</li>
</ul>

<p><strong>Web Developer</strong> <br />
<em>Jun 2012 - Jan 2014</em> <br />

<ul>
<li>Write custom, ground-up PHP/MySQL applications for small to large promotions and products</li>
<li>Incrementally improve in-house project management, proofing and time-management tools</li>
<li>Collaborate with art directors and designers in the development of creative web campaigns using both front-end and back-end technologies</li>
<li>Develop an in-house database abstraction layer suited to client projects</li>
<li>Coordinate with analysts to ensure every project is instrumented and measurable for performance</li>
</ul>

<h3><a href="http://webspecdesign.com">Webspec Design</a></h3>

<p><strong>Web Developer</strong> <br />
<em>Oct 2011 - Jun 2012</em> <br />
<em>Urbandale, Iowa</em></p>

<ul>
<li>Implement custom designs for custom websites for area clients utilizing Wordpress</li>
<li>Meet with both project managers and clients to finalize details of projects</li>
<li>Assisted in kicking off internal revision control processes</li>
</ul>

<h3><a href="http://dealerbuilt.com">Dealerbuilt</a></h3>

<p><strong>Developer</strong> <br />
<em>Aug 2006 - Sep 2011</em> <br />
<em>Mason City, Iowa</em></p>

<ul>
<li>Maintain Ubuntu Linux and FreeBSD systems</li>
<li>Configure, tune, and maintain PostgreSQL servers</li>
<li>Create PL/pgSQL functions to convert third-party data to native schemas</li>
<li>Produce various Python scripts to streamline ETL and systems administration</li>
<li>Help to develop company procedures and policies regarding database interaction</li>
<li>Create one-off customer-facing small web applications using Python and PostgreSQL</li>
</ul>

<h3><a href="http://kroll.com">Kroll Ontrack</a></h3>

<p><strong>QC Technician</strong> <br />
<em>Mar 2005 - Aug 2006</em> <br />
<em>Eden Prairie, Minnesota</em></p>

<ul>
<li>Utilize Litigation Support tools and proprietary applications to test deliverables and data in varied delimited formats according to rigid specifications</li>
<li>Document new and improved procedures and practices</li>
</ul>

<h3>Freelance and Personal Projects</h3>

<p><em>2000 - Present</em></p>

<ul>
<li>Perform development work as needed for smaller freelance projects</li>
<li>Routinely investigate new technologies, libraries, languages, and development methodologies</li>
<li>Create digital art pieces using various languages and services</li>
</ul>

<h2>Technical</h2>

<ul>
<li>Bash, CSS, HTML, JavaScript, node.js, Python, PHP</li>
<li>MySQL, PostgreSQL, Redis, SQLite </li>
<li>Apache, Nginx, Lighttpd</li>
<li>Ubuntu, Debian and other Linux server environments</li>
<li>Photoshop, Illustrator, ffmpeg, SoX, Audacity, Imagemagick</li>
</ul>

<h2>Education</h2>

<h4>Bachelor of Science, Information Technology Management</h4>

<p>Hamilton College, Mason City, Iowa <br />
Graduated December 2004</p>

<h4>Associate of Applied Science, Web Development</h4>

<p>Hamilton College, Mason City, Iowa <br />
Graduated September 2002</p>

<p><em>References available upon request.</em></p>
